<body class="landing-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header page-header-small">

    <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); filter: brightness(50%) grayscale(10%)">
    </div>
    <div class="content-center">
        <center>
        <h1 class="title">Lasso</h1>
      </center>
    </div>

</div>



<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Qui sommes-nous?</h2>
                <h5 class="description">Un facilitateur d'engagement associatif. Grâce à Lasso, trouve facilement l'association qui te convient.</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <!-- First image on the left side -->
                    <div class="image-container image-left" style="background-image: url('https://images.unsplash.com/photo-1526976668912-1a811878dd37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
                        <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                            <br>
                            <br>
                            <small>-NOAA</small>
                        </p>
                    </div>
                    <!-- Second image on the left side of the article -->
                    <div class="image-container image-left-bottom" style="background-image: url('https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')"></div>
                    <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                    <p>Le milieu associatif français est riche de milliers de structures. Bien sûr, tu t’es fais alpaguer par WWF, Action contre la faim ou autre! Mais quid de la petite association de quartier ? Des causes moins connues ? Faute de communication ou de visibilité, elles restent dans l’ombre. Parlons de chiffres, il y a en France, 1,3 millions d’associations, principalement animées par des bénévoles, leur budget moyen est assez réduit en comparaison de leur activité : 31000€. Le coût de l’implémentation d’un site web reste conséquent, et tout le monde n’a pas la disponibilité de se former avec THP ;). Le référencement sur Pages Jaunes reste un investissement démesuré comparé à la valeur ajoutée qu’il représente.
                    </p>
                    <p> LASSO est là pour toi, qui a envie de donner de ton temps et de ta motivation pour une belle cause, mais aussi pour toi association, donateur, ou encore pour toi simple curieux, on veut que les différents acteurs du milieu associatif puissent se rencontrer pour faire un bout de chemin ensemble.
                    </p>
                    <p>Une plateforme dédiée à celles et ceux qui oeuvrent pour les autres. Les associations n’ont pas les ressources, temps et argent confondus, pour la construction et la maintenance d’un véritable site et surement pas assez pour rincer google et atterrir en page 1 des recherches. On propose donc un mini-site, une véritable vitrine. Ici, chaque asso aura la même visibilité peu importe sa taille, avec les infos principales, les contacts et le tout avec une interface intuitive !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-1 section-image" style="background-image: url('https://images.unsplash.com/photo-1461532257246-777de18cd58b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80')">

    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">L'équipe</h2>
                <h4 class="description text-white">Une équipe dévouée et engagée.</h4>
            </div>
        </div>

        <div class="row landing">
            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar card-profile">
                      <%=image_tag("thomas.jpeg", class: "img img-raised")%>

                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            The networking at Web Summit is like no other European tech conference.
                        </p>
                    </div>
                    <div class="icon icon-primary">
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Thomas Le Vot</h4>
                        <p class="category">@thomaslevot</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar">
                      <%=image_tag("max.jpg", class: "img img-raised")%>
                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            The connections you make at Web Summit are unparalleled, we met users all over the world.
                        </p>
                    </div>
                    <div class="icon icon-primary">
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Maxime Pouzol</h4>
                        <p class="category">@maxpouzol</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-testimonial">
                    <div class="card-avatar">
                      <%=image_tag("marion.jpeg", class: "img img-raised")%>

                    </div>
                    <div class="card-body">
                        <p class="card-description">
                            Web Summit will increase your appetite, your inspiration, and your network.
                        </p>
                    </div>
                    <div class="icon icon-primary">
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Marion Audren </h4>
                        <p class="category">@marionaudren</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>



    </body>
