<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %>, </h1>
    <p>
      Ta demande de création d'une asso sur Lasso a bien été prise en compte.
      Les prochaines étapes :
      - on valide ta création
      - tu souscris à notre offre
      Et voilà, ton asso est en ligne et visible par tout le monde!
    </p>
  </body>
</html>
