<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %>, </h1>
    <p>
      Tu as bien souscrit à notre abonnement, le paiement a été validé, ton asso sera en ligne sous 24h.

      Merci !
    </p>
  </body>
</html>
