<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %>, </h1>
    <p>
La création de ton asso sur le site Lasso a bien été validée par nos services.
Il te reste maintenant à souscrire à notre offre pour qu'elle soit visible en ligne.
    </p>
  </body>
</html>
