<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %>, </h1>
    <p>
      Ta demande de création d'une asso sur Lasso a bien été prise en compte, elle est en cours de validation.
      Une fois validée, il ne te resteras plus qu'à souscrire à notre offre et ton asso sera en ligne et visible par tout le monde!
    </p>
  </body>
</html>
