<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Salut Admin !</h1>
  <p>  <%= @owner.first_name %> de <%= @owner.asso %> a bien souscrit à l'offre, à toi de la mettre en ligne maintenant!
  </p>
</body>
</html>
