<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Admin !</h1>
    <p>
      Une nouvelle asso a été créée et attend ta validation!
    </p>
  

  </body>
</html>
