<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Admin !</h1>
    <p>
      Une nouvelle asso a été créée et attend ta validation!
    </p>
    <%= link_to "Validation", admin_validation_path, :class => "btn btn-info btn-round btn-lg btn-block" %>

  </body>
</html>
