
    <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('https://images.unsplash.com/photo-1472404122088-5682d90f2a7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title"> You should be here!</h1>
                    <h5 class="description">5,000 capacity venue, holding some of the latest technology lighting with a 24 colour laser system Amnesia is one of the islands most legendary clubs.</h5>
                </div>

                            <form method="" action="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" value="" placeholder="Quoi?" class="form-control" autocomplete="développement durable">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="email" placeholder="Où?" class="form-control" autocomplete="Lyon">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-round btn-block">Recherche</button>
                                    </div>
                                </div>
                            </form>
            </div>
        </div>
    </div>


<br>

<div class="row">
<%= render partial: 'assos/asso', collection: @assos %>
</div>
