

    <div class="flex-container">
      <button class="btn btn-info">
        <i class="fas fa-home fa"></i>
      </button>
      <button type="button" class="btn btn-info" data-container="body" data-trigger="hover click"  data-original-title="information de base" data-toggle="popover" data-placement="top" data-content="{ "attribute": "name" }">
        <i class="fas fa-user-cog"></i>
      </button>
      <button type="button" class="btn btn-warning" data-container="body" data-trigger="hover click"  data-original-title="adresse" data-toggle="popover" data-placement="top" data-content="">
        <i class="far fa-newspaper"></i>
      </button>
      <button type="button" class="btn btn-info" data-container="body" data-trigger="hover click" data-original-title="Popover on Top" data-toggle="popover" data-placement="top" data-content="hello">
        <i class="fas fa-info-circle"></i>
      </button>
      <button type="button" class="btn btn-info" data-container="body" data-trigger="hover click" data-original-title="Popover on Top" data-toggle="popover" data-placement="top" data-content="Here will be some very useful information about his popover.">
        <i class="fas fa-address-card"></i>
      </button>
      <button type="button" class="btn btn-info" data-container="body" data-trigger="hover click" data-original-title="Popover on Top" data-toggle="popover" data-placement="top" data-content="Here will be some very useful information about his popover.">
        <i class="fas fa-location-arrow"></i>
      </button>
    </div>
