
  <div class="col-sm-6 col-lg-3">
  <div class="form-group has-search">
  <%= form_tag(assos_path, method: :get) do %>
  <span class="fa fa-search form-control-feedback"></span>
  <%= text_field_tag :term , params[:term] , class:"form-control"%>
  <% end %>
  </div>
  </div>
<div class="row asso-index">
<%= render partial: 'asso', collection: @assos %>
</div>
