<center>
  <div class=" col-sm-6 col-md-8 ">
  <div class="form-group has-search">
  <%= form_tag(assos_path, method: :get) do %>
  <span class="fa fa-search form-control-feedback" style="color:#269eff;"></span>
  <%= text_field_tag :term , params[:term] , class:"form-control", placeholder:"Lancez une recherche pour trouver une asso"%>
  <% end %>
  </div>
  </div>
  </center>
<div class="row asso-index">
<%= render partial: 'asso', collection: @assos %>
</div>
