<footer class="footer" data-background-color="black">
    <div class="container">
        <a class="footer-brand" href="#pablo">Lasso</a>
        <ul class="pull-center">
            <li>
                <a href="#pablo">
                    Blog
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Presentation
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Discover
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Payment
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Contact Us
                </a>
            </li>
        </ul>

    </div>
</footer>
